<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.chat">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ANDList"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="android.list.ToDoActivity"></activity>
        <activity android:name="android.list.LoginActivity" />
        <activity android:name="android.list.RegisterActivity" />
        <activity android:name="android.list.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>